<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Scénario" data-toc-modified-id="Scénario-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Scénario</a></span><ul class="toc-item"><li><span><a href="#Les-données" data-toc-modified-id="Les-données-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Les données</a></span></li><li><span><a href="#Votre-mission" data-toc-modified-id="Votre-mission-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Votre mission</a></span></li></ul></li><li><span><a href="#Environnement" data-toc-modified-id="Environnement-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Environnement</a></span></li><li><span><a href="#Dataframes" data-toc-modified-id="Dataframes-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Dataframes</a></span><ul class="toc-item"><li><span><a href="#Bilan-Alimentaire" data-toc-modified-id="Bilan-Alimentaire-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Bilan Alimentaire</a></span></li><li><span><a href="#Produits-d'origine-animale" data-toc-modified-id="Produits-d'origine-animale-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Produits d'origine animale</a></span></li><li><span><a href="#Population" data-toc-modified-id="Population-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Population</a></span></li><li><span><a href="#PIB" data-toc-modified-id="PIB-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>PIB</a></span></li><li><span><a href="#Importation-produit-'Viande-de-Volailles'" data-toc-modified-id="Importation-produit-'Viande-de-Volailles'-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Importation produit 'Viande de Volailles'</a></span></li><li><span><a href="#Dataframe-final" data-toc-modified-id="Dataframe-final-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Dataframe final</a></span></li><li><span><a href="#Profiling-Report" data-toc-modified-id="Profiling-Report-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Profiling Report</a></span></li><li><span><a href="#Cleaning" data-toc-modified-id="Cleaning-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Cleaning</a></span></li><li><span><a href="#Export" data-toc-modified-id="Export-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Export</a></span></li></ul></li></ul></div>

# Scénario

Votre entreprise d'agroalimentaire souhaite se développer à l'international. Elle est spécialisée dans... le poulet !

L'international, oui, mais pour l'instant, le champ des possibles est bien large : aucun pays particulier ni aucun continent n'est pour le moment choisi. Tous les pays sont envisageables !
Votre objectif sera d'aider à cibler plus particulièrement certains pays, dans le but d'approfondir ensuite l'étude de marché. Plus particulièrement, l'idéal serait de produire des "groupes" de pays, plus ou moins gros, dont on connaît les caractéristiques.

Dans un premier temps, la stratégie est plutôt d'exporter les produits plutôt que de produire sur place, c'est-à-dire dans le(s) nouveau(x) pays ciblé(s).

## Les données

Vous vous souvenez de la FAO, dans l'un de vos précédents projets ? [Allez, on y retourne](http://www.fao.org/faostat/fr/#data) ! Vous connaissez déjà l'interface du site, à vous de retrouver les données qui vous seront utiles pour le projet.

## Votre mission

Pour identifier les pays propices à une insertion dans le marché du poulet, il vous a été demandé de cibler les pays. Il vous faudra également étudier les régimes alimentaires de chaque pays, notamment en termes de protéines d'origine animale et en termes de calories.

Construisez votre échantillon contenant l'ensemble des pays disponibles, chacun caractérisé par ces variables :

    - différence de population entre une année antérieure (au choix) et l'année courante, exprimée en pourcentage ;
    
    - proportion de protéines d'origine animale par rapport à la quantité totale de protéines dans la disponibilité alimentaire du pays ;
    
    - disponibilité alimentaire en protéines par habitant ;
    
    - disponibilité alimentaire en calories par habitant.
    
Construisez un dendrogramme contenant l'ensemble des pays étudiés, puis coupez-le afin d'obtenir 5 groupes.

Caractérisez chacun de ces groupes selon les variables cités précédemment, et facultativement selon d'autres variables que vous jugerez pertinentes (ex : le PIB par habitant). Vous pouvez le faire en calculant la position des centroïdes de chacun des groupes, puis en les commentant et en les critiquant au vu de vos objectifs.

Donnez une courte liste de pays à cibler, en présentant leurs caractéristiques. Un découpage plus précis qu'en 5 groupes peut si besoin être effectué pour cibler un nombre raisonnable de pays. 

Visualisez vos  partitions dans le premier plan factoriel obtenu par ACP.

Dans votre partition, vous avez obtenu des groupes distincts. Vérifiez donc qu'ils diffèrent réellement. Pour cela, réalisez les tests statistiques suivants :

    - un test d'adéquation : parmi les 4 variables, ou parmi d'autres variables que vous trouverez pertinentes, trouvez une variable dont la loi est normale ;
    
    - un test de comparaison de deux populations (dans le cas gaussien) : choisissez 2 clusters parmi ceux que vous aurez déterminé. Sur ces 2 clusters, testez la variable gaussienne grâce à un test de comparaison.

# Environnement

In [1]:
import numpy as np
import pandas as pd

# Dataframes

## Bilan Alimentaire

In [2]:
#import data
bilan_alim = pd.read_csv('/Users/Gladou/Documents/OpenClassRooms/Parcours Data Analyst/Projets/P5/P5_dataset/FAOSTAT_data_bilans_alim_2018.csv')

In [3]:
#import checking
#bilan_alim.head(3)

#meaning
bilan_alim['Symbole'].unique()

array(['Im', 'S', 'Fc', 'A'], dtype=object)

In [4]:
#same here
bilan_alim['Description du Symbole'].unique()

array(["Données de la FAO basées sur une méthodologie d'imputation",
       'Données standardisées', 'Donnée calculée',
       'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées'],
      dtype=object)

In [5]:
#composition of the aggregate
bilan_alim[(bilan_alim['Symbole'] == 'A')].head(3)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
32678,FBS,Nouveaux Bilans Alimentaire,351,Chine,5511,Production,2511,Blé et produits,2018,2018,Milliers de tonnes,131690.0,A,"Agrégat, peut inclure des données officielles,..."
32679,FBS,Nouveaux Bilans Alimentaire,351,Chine,5611,Importations - Quantité,2511,Blé et produits,2018,2018,Milliers de tonnes,5360.0,A,"Agrégat, peut inclure des données officielles,..."
32680,FBS,Nouveaux Bilans Alimentaire,351,Chine,5072,Variation de stock,2511,Blé et produits,2018,2018,Milliers de tonnes,8887.0,A,"Agrégat, peut inclure des données officielles,..."

In [6]:
#checking which country match to the aggregate
bilan_alim[(bilan_alim['Symbole'] == 'A')]['Zone'].unique()

array(['Chine'], dtype=object)

In [7]:
#remove aggregates data
bilan_alim = bilan_alim[~(bilan_alim['Zone'] == 'Chine')]

#columns selection
bilan_alim = bilan_alim[['Zone', 'Élément', 'Produit', 'Unité', 'Valeur']].copy()

#show df
bilan_alim.head(3)

,Zone,Élément,Produit,Unité,Valeur
0,Afghanistan,Production,Blé et produits,Milliers de tonnes,3613.0
1,Afghanistan,Importations - Quantité,Blé et produits,Milliers de tonnes,3376.0
2,Afghanistan,Variation de stock,Blé et produits,Milliers de tonnes,-6.0

In [8]:
#unit check
bilan_alim['Unité'].unique()

array(['Milliers de tonnes', 'kg', 'Kcal/personne/jour',
       'g/personne/jour'], dtype=object)

>*NB : Pour la suite de l'analyse, les quantités seront exprimées en milliers de tonnes (sauf exception présisée)*

In [9]:
#pivot
bilan_alim_pivot = pd.pivot_table(bilan_alim, 
                                  index = ['Zone', 'Produit'], 
                                  columns = ['Élément'],
                                  values = ['Valeur'], 
                                  aggfunc = sum ).reset_index()
#rename columns
bilan_alim_pivot.columns = ['Pays', 'Produit', 'Alimentation pour touristes', 'Aliments pour animaux' , 
                            'Autres utilisations (non alimentaire)', 'Dispo alim kcal/pers/j','Dispo alim kg/pers/j', 
                            'Dispo MG g/pers/j', 'Dispo prot g/pers/j', 'Dispo int', 'Export', 'Import', 'Nourriture', 'Pertes', 
                            'Production', 'Résidus','Semences', 'Traitement', 'Variation de stock']

#show df
bilan_alim_pivot.head()

,Pays,Produit,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Dispo alim kcal/pers/j,Dispo alim kg/pers/j,Dispo MG g/pers/j,Dispo prot g/pers/j,Dispo int,Export,Import,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,NaN,NaN,NaN,5.0,1.56,0.18,0.70,61.0,0.0,5.0,58.0,3.0,56.0,0.0,NaN,0.0,NaN
1,Afghanistan,"Agrumes, Autres",NaN,NaN,NaN,1.0,1.84,0.01,0.03,69.0,0.0,66.0,69.0,0.0,3.0,0.0,NaN,0.0,0.0
2,Afghanistan,"Alcool, non Comestible",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN
3,Afghanistan,Aliments pour enfants,NaN,NaN,NaN,1.0,0.06,0.00,0.03,2.0,0.0,3.0,2.0,NaN,NaN,0.0,NaN,NaN,1.0
4,Afghanistan,Ananas et produits,NaN,NaN,NaN,0.0,0.03,0.00,0.00,1.0,0.0,1.0,1.0,NaN,0.0,0.0,NaN,0.0,0.0

## Produits d'origine animale

In [10]:
#import data
produits_animaux = pd.read_csv('/Users/Gladou/Documents/OpenClassRooms/Parcours Data Analyst/Projets/P5/P5_dataset/FAOSTAT_data_produits_animaux.csv')

In [11]:
#import checking
#produits_animaux.head(3)

#remove aggregates
produits_animaux = produits_animaux[~(produits_animaux['Zone'] == 'Chine')]

#columns selection
produits_animaux = produits_animaux[['Zone', 'Élément', 'Produit', 'Unité', 'Valeur']].copy()

#pivot
produits_animaux_pivot = pd.pivot_table(produits_animaux, 
                                        index = ['Zone'], 
                                        columns = ['Élément'],
                                        values = ['Valeur'], 
                                        aggfunc = sum).reset_index()

#rename
produits_animaux_pivot.columns = ['Pays', 'Alimentation pour touristes', 'Aliments pour animaux' , 
                                  'Autres utilisations (non alimentaire)', 'Dispo alim kcal/pers/j','Dispo alim kg/pers/j', 
                                  'Dispo MG g/pers/j', 'Dispo prot g/pers/j', 'Dispo int', 'Export', 'Import', 'Nourriture', 'Pertes', 
                                  'Production', 'Résidus','Semences', 'Traitement', 'Variation de stock']

#show
produits_animaux_pivot.head(3)

,Pays,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Dispo alim kcal/pers/j,Dispo alim kg/pers/j,Dispo MG g/pers/j,Dispo prot g/pers/j,Dispo int,Export,Import,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
0,Afghanistan,NaN,2.00,0.00,190.0,51.36,13.28,10.79,2729.00,0.00,134.00,1909.0,81.0,2596.00,0.0,3.0,732.0,-1.00
1,Afrique du Sud,NaN,303.24,186.67,477.0,132.01,33.93,36.04,8617.00,866.91,1099.84,7629.1,69.0,8382.05,-38.0,64.0,402.0,12.01
2,Albanie,NaN,76.17,0.00,1004.0,387.81,68.06,61.74,1376.07,23.02,70.40,1116.9,94.0,1328.70,0.0,0.0,87.0,0.00

In [12]:
#select useful data 
dispo_prot_anim = produits_animaux_pivot[['Pays', 'Dispo prot g/pers/j']].copy()

#show
dispo_prot_anim.head(3)

             Pays  Dispo prot g/pers/j
0     Afghanistan                10.79
1  Afrique du Sud                36.04
2         Albanie                61.74

## Population

In [13]:
#import data
population = pd.read_csv('/Users/Gladou/Documents/OpenClassRooms/Parcours Data Analyst/Projets/P5/P5_dataset/FAOSTAT_data_population_2013_2018.csv')

In [14]:
#import check 
#population.head(3)

#remove aggregates
population = population[~(population['Zone'] == 'Chine')]

#columns selection
population = population[['Zone', 'Élément','Année', 'Unité', 'Valeur']].copy()

#show
population.head(3)

             Zone            Élément  Année           Unité     Valeur
0     Afghanistan  Population totale   2013  1000 personnes  32269.589
1     Afghanistan  Population totale   2018  1000 personnes  37171.921
2  Afrique du Sud  Population totale   2013  1000 personnes  53687.121

In [15]:
#pivot
population = pd.pivot_table(population, 
                         index = ['Zone'], 
                         columns = ['Année'],
                         values = ['Valeur'], 
                         aggfunc = sum).reset_index()
#rename
population.columns = ['Pays', 'Population 2013', 'Population 2018 (M)']

#show
population.head(3)

             Pays  Population 2013  Population 2018 (M)
0     Afghanistan        32269.589            37171.921
1  Afrique du Sud        53687.121            57792.518
2         Albanie         2903.790             2882.740

>*NB : Désormais, lorsqu'on parlera de la population ou du nombre d'habitants, ce résultat sera exprimé en milliers de personnes.*

In [16]:
#variable creation
population['Évolution population (%)'] = round((population['Population 2018 (M)'] - population['Population 2013']) /
                                               population['Population 2018 (M)'] * 100,2)

In [17]:
#drop no useful variable for the rest
population = population.drop(columns=['Population 2013'])
population.head()

             Pays  Population 2018 (M)  Évolution population (%)
0     Afghanistan            37171.921                     13.19
1  Afrique du Sud            57792.518                      7.10
2         Albanie             2882.740                     -0.73
3         Algérie            42228.408                      9.68
4       Allemagne            83124.418                      2.35

## PIB

In [18]:
#import data
PIB = pd.read_csv('/Users/Gladou/Documents/OpenClassRooms/Parcours Data Analyst/Projets/P5/P5_dataset/FAOSTAT_data_PIB.csv')

#import check
# PIB.head(3)

#remove aggregates
PIB = PIB[~(PIB['Zone'] == 'Chine')]

#select
PIB = PIB[['Zone', 'Valeur']].copy()

#rename
PIB = PIB.rename(columns = {'Zone' : 'Pays',
                            'Valeur' : 'PIB (M$)'})

## Importation produit 'Viande de Volailles'

>*Avec la ligne bilan_alim_pivot['Produit'].unique(), on constate que le libellé correspondant aux informations sur le poulet est 'Viande de Volailles'.*

In [19]:
#variable creation
imp_poulet = bilan_alim_pivot[bilan_alim_pivot['Produit'] == 'Viande de Volailles'].reset_index()
imp_poulet = imp_poulet[['Pays', 'Import']]
imp_poulet

                      Pays  Import
0              Afghanistan    25.0
1           Afrique du Sud   515.0
2                  Albanie    12.0
3                  Algérie     0.0
4                Allemagne   871.0
..                     ...     ...
168    Émirats arabes unis   609.0
169               Équateur     0.0
170  États-Unis d'Amérique   128.0
171               Éthiopie     1.0
172           Îles Salomon     5.0

[173 rows x 2 columns]

## Dataframe final

In [20]:
df = bilan_alim_pivot.groupby('Pays')[['Dispo prot g/pers/j','Dispo alim kcal/pers/j', ]].sum().reset_index()

df = pd.merge(df, dispo_prot_anim, on='Pays', how='left')

df = df.rename(columns = {'Dispo prot g/pers/j_x' : 'Dispo prot totale g/pers/j',
                          'Dispo prot g/pers/j_y' : 'Dispo prot animale g/pers/j'})

df.head()

,Pays,Dispo prot totale g/pers/j,Dispo alim kcal/pers/j,Dispo prot animale g/pers/j
0,Afghanistan,55.50,2038.0,10.79
1,Afrique du Sud,84.37,2895.0,36.04
2,Albanie,115.67,3361.0,61.74
3,Algérie,91.82,3321.0,24.72
4,Allemagne,105.15,3554.0,64.03

In [21]:
#variable creation
df['Prot animale (%)'] = round((df['Dispo prot animale g/pers/j'] / df['Dispo prot totale g/pers/j']) * 100,2)

In [22]:
#to have the units as requested
df['Dispo prot totale g/pers/j'] *= 365
df['Dispo alim kcal/pers/j'] *= 365

#rename
df = df.rename(columns = {'Dispo prot totale g/pers/j' : 'Dispo alim prot g/pers',
                          'Dispo alim kcal/pers/j' : 'Dispo alim kcal/pers'})
               
df.head()

,Pays,Dispo alim prot g/pers,Dispo alim kcal/pers,Dispo prot animale g/pers/j,Prot animale (%)
0,Afghanistan,20257.50,743870.0,10.79,19.44
1,Afrique du Sud,30795.05,1056675.0,36.04,42.72
2,Albanie,42219.55,1226765.0,61.74,53.38
3,Algérie,33514.30,1212165.0,24.72,26.92
4,Allemagne,38379.75,1297210.0,64.03,60.89

In [23]:
#merging all the previous df
df = pd.merge(df, imp_poulet, on='Pays', how='left')

df = pd.merge(df, population, on='Pays', how='left')

df = pd.merge(df, PIB, on='Pays', how='left')

df = df.drop(columns='Dispo prot animale g/pers/j')

df = df.rename(columns = {'Import' : 'Import (kT)'})

#final df
df.head()

,Pays,Dispo alim prot g/pers,Dispo alim kcal/pers,Prot animale (%),Import (kT),Population 2018 (M),Évolution population (%),PIB (M$)
0,Afghanistan,20257.50,743870.0,19.44,25.0,37171.921,13.19,1.798697e+04
1,Afrique du Sud,30795.05,1056675.0,42.72,515.0,57792.518,7.10,3.680939e+05
2,Albanie,42219.55,1226765.0,53.38,12.0,2882.740,-0.73,1.514703e+04
3,Algérie,33514.30,1212165.0,26.92,0.0,42228.408,9.68,1.754150e+05
4,Allemagne,38379.75,1297210.0,60.89,871.0,83124.418,2.35,3.963768e+06

## Profiling Report

In [24]:
profile = ProfileReport(df, title="Pandas Profiling Report", explorative=True)

In [25]:
#overview
profile.to_widgets()

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

## Cleaning

In [26]:
df.isna().sum()

Pays                        0
Dispo alim prot g/pers      0
Dispo alim kcal/pers        0
Prot animale (%)            2
Import (kT)                 2
Population 2018 (M)         0
Évolution population (%)    0
PIB (M$)                    1
dtype: int64

In [27]:
#details where nan returned
df[(df['Prot animale (%)'].isna() == True) | (df['Import (kT)'].isna() == True) | (df['Population 2018 (M)'].isna() == True) | 
   (df['Évolution population (%)'].isna() == True) | (df['PIB (M$)'].isna() == True)]

,Pays,Dispo alim prot g/pers,Dispo alim kcal/pers,Prot animale (%),Import (kT),Population 2018 (M),Évolution population (%),PIB (M$)
33,"Chine, Taiwan Province de",31437.45,1089525.0,50.59,217.0,23726.460,1.28,NaN
37,Comores,0.00,0.0,NaN,NaN,832.322,10.91,1178.530634
141,Seychelles,0.00,0.0,NaN,NaN,97.096,3.81,1586.052701

In [28]:
df = df.drop([37, 141])

>*[PIB Taïwan 2018](https://www.populationdata.net/pays/taiwan/)*

In [29]:
df = df.fillna("%e"%602680)

## Export

In [30]:
df.to_csv('df.csv', index=False)

>*Please, go to P5_03_analysis*